<ion-view view-title="登录">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="back()">
            立即注册
        </button>
    </ion-nav-buttons>
    <ion-content>
        <form>
            <ul class="list card">
                <li class="item item-input">
                    <i class="icon ion-person"></i>
                    <span class="input-label col col-25">用&nbsp&nbsp户&nbsp&nbsp名:</span>
                    <input class="col col-75" type="text" placeholder="username">
                </li>
                <li class="item item-input">
                    <i class="icon ion-ios-email-outline"></i>
                    <span class="input-label col col-25">邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱:</span>
                    <input class="col col-75" type="email" placeholder="email">
                </li>
                <li class="item item-input">
                    <i class="icon ion-locked"></i>
                    <span class="input-label col col-25">密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码:</span>
                    <input class="col col-75" type="password" placeholder="password">
                </li>
            </ul>
            <div class="padding-horizontal">
                <button class="button button-block button-calm">
            登录
          </button>
            </div>
        </form>
    </ion-content>
</ion-view>